/* cabeçalho */
header {
    background-color: blue;
    padding: 20px;
    text-align: center;
}

/*  títulos */
h1, h2 {
    font-family: serif;
}

/*  barra de navegação */
.menu a {
    font-weight: bold;
}

/* classe container */
.container {
    padding: 20px;
}

/*  id conteudo */
section {
    line-height: 1.5;
}

/* formulário de contato */
form {
    border: 1px solid grey;
    padding: 10px;
}

/* parágrafos */
p {
    color: green;
}

/*  formulário de contato */
form button {
    background-color: blue;
    color: white;
}

/*  rodapé */
footer {
    border-top: 2px solid red;
}