/* cor de fundo para o cabeçalho*/
header {
    background-color: blue;
}
/* fonte serifada para todos os títulos*/
h1, h2 {
    font-family: serif;
}
/*  links da barra de navegação em negrito*/
nav a {
    font-weight: bold;
}
/*   classe container */
.container {
    padding: 20px;
}
/* Estilo para todo o conteúdo dentro da section com o id conteudo */
section {
    line-height: 1.5;
}
/* Estilo para o formulário de contato */
form {
    border: 1px solid grey;
    padding: 10px;
}